@font-face {
    font-family: cozette;
    src: local("Cozette"), url(cozette.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #282828;
    color: #fbf1c7;

    font-family: cozette;

    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: auto;
    margin-top: 50px;

    width: 100%;
    max-width: 37rem;
}

ul {
    list-style: "@ ";
}

a {
    text-decoration: none;
    color: #458588;
}

a:hover,
a:active,
a:visited {
    color: #83a598;
}

.accent-color {
    color: #83a598;
}

.inner {
    padding: 20px;
}