@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: #cad3f5;
    --main-background-rgb: #24273a;
    --background-rgb: #faf3eb;
    --accent-rgb: #c6a0f6;
    --a-rgb: #f5bde6;
}

body {
    background-color: var(--background-rgb);
    color: var(--foreground-rgb);
}

.main {
    background-color: var(--main-background-rgb);

    width: 100vw;
}

@media not all and (max-width: 640px) {
    .main {
        width: 591px;
    }
}

a {
    color: var(--a-rgb);
    text-decoration: underline;
}

.accent {
    color: var(--accent-rgb);
}
